body {
  background: linear-gradient(-45deg, #ee94c6, #e783b0, #23a6d5, #60d5cb);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
  height: 100%;
  min-height: 100vh;
  margin: 0;
  font-family: 'Open Sans', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Open Sans', sans-serif;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

a {
  color: #655564 !important;
  text-decoration: none !important;
}
a:hover {
  text-decoration: none !important;
  color: #655564 !important;
}